@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,700');
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800'); */
html {
    color: #000;
    line-height: 1.28;
}

body a{
    text-decoration: none!important;
}
a{
    outline: 0!important;
}

p {
    margin: 0 0 10px
}

.subHeader {
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 10px
}

em {
    font-style: italic
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    color: #7b7b7b
}

h1, h2, h3 {
    line-height: 40px
}

h1 {
    font-size: 39px
}

h2 {
    font-size: 31px
}

h3 {
    font-size: 23px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 11px
}

h1 small {
    font-size: 24px
}

h2 small {
    font-size: 18px
}

h3 small {
    font-size: 16px
}

h4 small {
    font-size: 14px
}

ul, ol {
    padding: 0
}

ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0
}

li {
    line-height: 20px
}

a {
    color: #209e91;
    text-decoration: none;
}

/*a:hover, a:focus {
    text-decoration: none;
}*/

/*a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}*/

html * {
    color-profile: sRGB;
    rendering-intent: auto
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0
}
.none{
    display: none!important;
}
.show{
    display: flex!important;
}